#scroll-container{
    height: 300vh;
}

#animation{
    height: 100vh;
    top: 0;
    z-index: 10;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}